body
{
 background: beige;
 color: violet
 text-align: left;
 font-family: Arial;
 font-size: 16px;
 margin: 0px;
 padding: 0px;   
}

#cabecera
{
background: #DDD;
color: tomato;
font-family:'Arial Narrow Bold';
margin: 0;
text-align: center;
padding: 1em;
box-shadow: 0px 2px 10px 0px rgb(121, 116, 116);
}

#container
{
 width: 70%;
 padding: 1em;
 text-align: left;
 border: 5px solid coral;
 margin: 0 auto;
}

#container h1
{
 font-size: 20px;
}